# Bootpay 환경 설정
# development | production
BOOTPAY_ENV=development

# PG API - Application ID (플랫폼별)
BOOTPAY_WEB_APPLICATION_ID_DEV=
BOOTPAY_WEB_APPLICATION_ID_PROD=
BOOTPAY_ANDROID_APPLICATION_ID_DEV=
BOOTPAY_ANDROID_APPLICATION_ID_PROD=
BOOTPAY_IOS_APPLICATION_ID_DEV=
BOOTPAY_IOS_APPLICATION_ID_PROD=

# Commerce API - Client Key
BOOTPAY_CLIENT_KEY_DEV=
BOOTPAY_CLIENT_KEY_PROD=
